<footer class="footer">
    <div class="footer-container container">
        <div class="footer-top">
            <div class="footer-left">
                <a href="#" class="footer-logo">
                    <img src="/logo2.svg" alt="">
                </a>
                <div class="footer-menu" style="display: none">
                    <ul class="menu">
                        <li>
                            <a href="/pages/about.html">О нас</a>
                        </li>
                        <li>
                            <a href="/pages/services.html">Услуги</a>
                        </li>
                        <li>
                            <a href="/pages/materials.html">Материалы</a>
                        </li>
                        <li>
                            <a href="#">Проекты</a>
                        </li>
                        <li>
                            <a href="/pages/jobs.html">Вакансии</a>
                        </li>
                        <li>
                            <a href="#">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-contacts">
                    <span class="footer-city">Новосибирск</span>
                    <span class="footer-address">630090, улица Инженерная, дом 16, офис 312/1</span>
                    <a href="tel:+73833637714" class="footer-phone">+7 383 363-77-14</a>
                    <a href="mailto:mail@mail.com" class="footer-email">mail@mail.com</a>
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-menu">
                    <ul class="menu">
                        <li>
                            <a href="/pages/about.html">О нас</a>
                        </li>
                        <li>
                            <a href="/pages/services.html">Услуги</a>
                        </li>
                        <li>
                            <a href="/pages/materials.html">Материалы</a>
                        </li>
                        <li>
                            <a href="#">Проекты</a>
                        </li>
                        <li>
                            <a href="/pages/jobs.html">Вакансии</a>
                        </li>
                        <li>
                            <a href="#">Контакты</a>
                        </li>
                    </ul>
                </div>

                <div class="footer-social">
                    <div class="footer-social__item" id="js-to-top">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 20 24" fill="none">
                            <path d="M10 0L0 10L1.41 11.41L9 3.83V24H11V3.83L18.59 11.41L20 10L10 0Z" fill="white"/>
                        </svg>
                    </div>
                    <div class="footer-social__wrapper">
                        <a href="https://youtube.com" class="footer-social__item" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                <path d="M29.4098 9.25922C29.2504 8.66726 28.9384 8.12753 28.5049 7.69405C28.0715 7.26058 27.5317 6.94856 26.9398 6.78922C24.7598 6.19922 15.9998 6.19922 15.9998 6.19922C15.9998 6.19922 7.23978 6.19922 5.05978 6.78922C4.46782 6.94856 3.92809 7.26058 3.49461 7.69405C3.06113 8.12753 2.74911 8.66726 2.58978 9.25922C2.18272 11.4825 1.98519 13.739 1.99978 15.9992C1.98519 18.2594 2.18272 20.516 2.58978 22.7392C2.74911 23.3312 3.06113 23.8709 3.49461 24.3044C3.92809 24.7379 4.46782 25.0499 5.05978 25.2092C7.23978 25.7992 15.9998 25.7992 15.9998 25.7992C15.9998 25.7992 24.7598 25.7992 26.9398 25.2092C27.5317 25.0499 28.0715 24.7379 28.5049 24.3044C28.9384 23.8709 29.2504 23.3312 29.4098 22.7392C29.8168 20.516 30.0144 18.2594 29.9998 15.9992C30.0144 13.739 29.8168 11.4825 29.4098 9.25922ZM13.1998 20.1992V11.7992L20.4698 15.9992L13.1998 20.1992Z" fill="white"/>
                            </svg>
                        </a>
                        <a href="https://telegram.com" class="footer-social__item" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                <path d="M2.71837 15.61C9.43052 12.7878 13.9053 10.927 16.1427 10.0281C22.5383 7.46107 23.8656 7.01524 24.7325 7.00013C24.9231 6.99718 25.3476 7.04267 25.6246 7.25881C25.8548 7.4411 25.9195 7.68763 25.9519 7.86072C25.9807 8.03363 26.0203 8.42773 25.9879 8.73536C25.6426 12.2492 24.1426 20.7762 23.38 24.712C23.0599 26.3772 22.4232 26.9356 21.8081 26.9901C20.47 27.1088 19.4556 26.1373 18.1606 25.3182C16.1355 24.0359 14.9916 23.238 13.024 21.987C10.7506 20.5412 12.2255 19.7464 13.5204 18.4478C13.8585 18.1079 19.7505 12.936 19.862 12.4669C19.8764 12.4083 19.8908 12.1895 19.7541 12.0742C19.621 11.9586 19.4232 11.9982 19.2793 12.0294C19.0743 12.0739 15.8405 14.1391 9.56721 18.2249C8.64995 18.8339 7.81903 19.1308 7.07084 19.1151C6.2507 19.0981 4.66799 18.6665 3.49174 18.2978C2.05291 17.8454 0.905441 17.6061 1.00616 16.8377C1.05652 16.4377 1.62845 16.0284 2.71837 15.61Z" fill="white"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-copyright">
                © ООО Техноресурс, 2024
            </div>
            <a href="#" class="footer-privacy">
                Пользовательское соглашение
            </a>
        </div>
    </div>
</footer>