<header class="header">
    <div class="header-container container">
        <div class="header-content">
            <a href="" class="header-logo">
                <svg width="112" height="54" viewBox="0 0 112 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M93.2453 27.0404L111.921 38.6596L95.7156 53.1021L68.8717 42.3151L55.9603 50.4257L43.0325 42.3151L16.2051 53.1021L0 38.6596L18.6754 27.0404L0 15.3233L16.2051 0.880859L55.9603 16.8573L95.7156 0.880859L111.921 15.3233L93.2453 27.0404Z" fill="#0B0B0B" />
                </svg>
            </a>
            <div class="header-wrapper">
                <nav class="header-menu">
                    <ul>
                        <li>
                            <a href="#">О нас</a>
                        </li>
                        <li>
                            <a href="/pages/services.html">Услуги</a>
                        </li>
                        <li>
                            <a href="#">Материалы</a>
                        </li>
                        <li>
                            <a href="#">Проекты</a>
                        </li>
                        <li>
                            <a href="#">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="header-lang">
                    EN
                </a>
            </div>
        </div>
    </div>
</header>