@media screen and (max-width: 992px) {
  .about {
    &-block {
      padding: 100px 0 50px;
    }
    &-logo {
      margin-bottom: 70px;
    }
    &-years, &-text {
      gap: 35px;
    }
  }
}

@media screen and (max-width: 576px) {
  .about {
    &-logo {
      margin-bottom: 30px;
    }
    &-block {
      padding: 50px 0;
    }
    &-years, &-text {
      gap: 25px;
    }
  }
}