@media screen and (max-width:992px) {
  .promo {
    min-height: 650px;
    height: 650px;
  }
}

@media screen and (max-width:768px) {
  .promo {
    &-container {
      padding: 140px 15px 45px;
      height: 100%;
    }
    &.promo-abs {
      .promo-image {
        max-width: 500px;
        max-height: 400px;
        transform: none;
        position: static;
      }
    }
  }
}

@media screen and (max-width:576px) {
  .promo {
    min-height: 500px;
    height: 500px;
    &-container {
      padding: 110px 15px 45px;
      height: 100%;
    }
    &.promo-abs {
      .promo-image {
        max-width: 300px;
        max-height: 300px;
        transform: none;
        position: static;
      }
    }
  }
}