@media screen and (max-width:992px) {
  .wow {
    padding: 50px 0;
    min-height: 700px;
    height: 700px;
  }
}

@media screen and (max-width:576px) {
  .wow {
    padding: 50px 0;
    min-height: 500px;
    height: 500px;
  }
}