.about {
  h4 {
    color: var(--Neutrals-Black-100, #0B0B0B);
  }
  h5 {
    max-width: 1008px;
    color: var(--Neutrals-Black-100, #0B0B0B);
    margin-top: 0;
    margin-bottom: 50px;
  }
  &-title {
    color: var(--Neutrals-Black-100, #0B0B0B);
    &__small {
      max-width: 500px;
    }
  }
  &-logo {
    margin-bottom: 128px;
    img {
      filter: invert(1);
    }
  }
  &-block {
    padding: 128px 0 72px;
    .about-block {
      padding: 0;
    }
    &.text {
      max-width: 1005px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      h5 {
        margin: 0;
      }
    }
    &.image {
      position: relative;
      img {

      }
    }
  }
  &-years {
    display: flex;
    flex-direction: column;
    gap: 56px;
    &__top {
      margin-bottom: 12px;
    }
    &__bottom {
      margin-bottom: 0 !important;
      &.small {
        max-width: 755px !important;
      }
    }
  }
  &-text {
    display: flex;
    flex-direction: column;
    gap: 56px;
    h5, h4 {
      margin: 0;
    }
  }
}