.list-page {

  &__item {
    min-height: 736px;
    padding: 128px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    &_title {
      margin-bottom: 72px;
      hyphens: auto;
    }
    &_content {
      display: flex;
      //justify-content: space-between;
      gap: 120px;
    }
    &_ico {
      width: 112px;
      min-width: 112px;
      height: 112px;

      display: flex;
      align-items: center;
      justify-content: center;
    }
    &_wrapper {
      display: flex;
      gap: 120px;
    }
    &_text {
      max-width: 448px;
      p, li {
        color: var(--Neutrals-Black-100, #0B0B0B);
        font-size: 18px;
        font-style: normal;
        font-weight: 480;
        line-height: 24px; /* 133.333% */
        letter-spacing: 0.18px;
      }
      p:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    &_btn {
      display: block;

      color: #FB6B45;
      font-size: 18px;
      font-style: normal;
      font-weight: 564;
      line-height: 32px; /* 177.778% */
      letter-spacing: 0.18px;

      border-radius: 5px;
      border: 1.5px solid #0B0B0B;

      padding: 8px 29px;

      transition: all .3s ease;

      position: absolute;
      right: 0;
      bottom: 0;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}