.promo {
  background: var(--Explorer-Orange-Explorer-Orange-80, #FB6B45);
  min-height: 960px;
  height: 960px;
  //height: 100vh;
  &-container {
    padding: 140px 45px 45px;
    height: 100%;
  }
  &-content {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-title {
    color: var(--Neutrals-Black-100, #0B0B0B);
    letter-spacing: -0.88px;
    margin: 0;

    max-width: 277px;
  }
  &-image {
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &.promo-abs {
    .container {
      position: relative;
    }
    .promo-image {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 45px;
    }
  }
  &.promo-banner {
    position: relative;
    background: none;
    .promo-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .promo-container {
      position: relative;
      z-index: 1;
    }
  }
}