.promo {
  background: var(--Explorer-Orange-Explorer-Orange-80, #FB6B45);
  min-height: 780px;
  height: 780px;
  //height: 100vh;
  &-container {
    padding: 140px 45px 45px;
    height: 100%;
  }
  &-content {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-title {
    color: var(--Neutrals-Black-100, #0B0B0B);
    font-size: 44px;
    font-style: normal;
    font-weight: 480;
    line-height: normal;
    letter-spacing: -0.88px;

    max-width: 277px;
  }
  &-image {
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &.promo-abs {
    .container {
      position: relative;
    }
    .promo-image {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 45px;
    }
  }
}