.services {
  padding: 128px 0 110px;
  &-title {
    color: var(--Neutrals-Black-100, #0B0B0B);
    margin-bottom: 72px;
  }
  &-list {
    margin-left: auto;
    max-width: 900px;
  }
  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    padding: 10px 0;
    min-height: 128px;
    border-bottom: 1px solid var(--Neutrals-Gray-80, #3F4040);
    &__title {
      color: var(--Neutrals-Black-100, #0B0B0B);
      font-size: 28px;
      font-style: normal;
      font-weight: 480;
      line-height: 44px; /* 157.143% */
      letter-spacing: -0.28px;
    }
    &__descr {
      color: var(--Neutrals-Dark-Gray-90, #252526);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 133.333% */
      letter-spacing: 0.36px;

      min-width: 337px;
      max-width: 337px;
    }
  }
}